



*{
  box-sizing: border-box;
	
}

body{
  font-family: "PT Serif", Arial, "Helvetica Neue", Helvetica, sans-serif;
	
}

.header{
	padding: 20px 0px 22px;

}

.wrapper{
	max-width: 1000px;
  margin: 0 auto;
  
  }

.header-navbar{
	display: flex;
  align-items: flex-end;
}

 .navbar-phone{
 	text-decoration: none;
 	cursor: pointer;
 	font-family: "PT Serif", Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size: 27px;
font-weight: 400;
font-style: normal;
color: #FF0D29;
line-height: 1.07em;
letter-spacing: 0em;
 }

.logo1{
 margin-right: 10px;

}

.logo2{
	height: 51px;
  padding-right: 65px;

	
}

nav{
margin: auto;
margin-right: 0px;
}

.navbar-menu{
	display: flex;
	margin: 0 ;
	padding: 0;
	justify-content: space-between;
}

nav ul li{
	list-style: none;	
  margin-left: 40px;
  margin-right: 40px;
}

nav ul li:last-child{
	margin-right: 0px;
}

nav ul li a{
text-decoration: none;
font-family: "PT Serif", Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size: 13px;
font-weight: 400;
font-style: normal;
color: #A68A6A;
line-height: 1.07em;
text-transform: uppercase;
}

.auth-link{

    color: #a68a6a;
    margin: 0 0 15px;
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    font-family: 'PT Serif', sans-serif;
    letter-spacing: .02rem;
    text-decoration: none;
}

.auth-link::before{

content: "";
width: 1rem;
height: 1rem;
background-image: url(../img/auth.svg);
background-repeat: no-repeat;
padding-right: 10px;
}




/****************************Карусель**********************/


 .slider{
 	max-height:371px;
 }



 .owl-theme .owl-dots .owl-dot span {
	/*background: red !important;*/
	width: 14px !important;
	height: 14px !important;
	}




.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev, 
.owl-carousel button.owl-dot{
margin-right: 10px;
margin-left: 10px;
background-color: unset !important;

}


.owl-theme .owl-nav{
	
	
	display: flex;
  justify-content: space-between;
  position: relative;
  top: -194px;
  margin: 0 !important;
  
}

.slider .owl-dots{
	position: relative;
	top: -144px;
}

/*****************Слайдер 2**********************/

.slider2,.slider {

	background-color: #525253;
}

.slider2-title{
	margin: 0;
}

.slider2-descr{
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
  padding-bottom: 31px;

}

.slider2 h2{
	color: #fff;
  letter-spacing: -.4px;
  
  }


/*.slider2-descr p{
	margin: 0;
}*/
  .slider2-descr a{

  	color: #fff;
  	text-decoration: none;
  	cursor: pointer;
  	font-weight: 400;
    font-stretch: normal;
    font-size: 15px;
    line-height: 46px;

  }

.name{

  padding-top: 29px;
}

.name a{
	color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-stretch: normal;
   font-size: 24px;
   line-height: 34px;
   
}


.name p{
	color: #fff;
	margin: 0;
  padding-top: 32px;
  font-weight: 300;
  font-size: 17px;
  line-height: 36px;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;

}

/*****************Слайдер 2 end**********************/

/********************section class="news"******************/

.news{
	background-color: #f2f2f2;
}



.news-descr{
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.news h1{
	margin: 0;
}